In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

## Load training data, use to train ML model

In [3]:
# Load and display training data
train_csv = "/kaggle/input/titanic/train.csv"
df = pd.read_csv(train_csv)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Change Sex variable to binary
df_one = pd.get_dummies(df["Sex"])
df_two = pd.concat((df_one, df), axis=1)
df_two = df_two.drop(["Sex"], axis=1)
df_two = df_two.drop(["male"], axis=1)
result = df_two.rename(columns={"female": "Gender"})
result

,Gender,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S
4,0,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S
887,1,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S
888,1,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S
889,0,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C
890,0,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import graphviz

# Train a decision tree
train = pd.DataFrame(
    np.random.rand(100, 5),
    columns=['PassengerId', 'Pclass', 'Sex','Age', 'Survived'])

X = train[['PassengerId','Pclass', 'Sex','Age']]
y = train[['Survived']]

from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

#view transformed values
# print(y_transformed)

# Load test data
test_csv = "/kaggle/input/titanic/test.csv"
X_test = pd.read_csv(test_csv)
X_test = lab.fit_transform(X_test)

model = tree.DecisionTreeClassifier().fit(X,y_transformed)
y_pred = model.predict(X_test) # X_test needs numerical data (binary categorical)

# train_data = tree.export_graphviz(model, out_file=None) 
# graph = graphviz.Source(train_data) 
# graph.render("train")
# train_data = tree.export_graphviz(model, out_file=None,
#                                 # feature_names=iris.feature_names,  
#                                 # class_names=iris.target_names,  
#                                 filled=True, rounded=True,  
#                                 special_characters=True) 
# graph = graphviz.Source(train_data)  
# graph

/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Cabin
- Embarked
- Fare
- Name
- Parch
- ...
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: could not convert string to float: 'Kelly, Mr. James'